<div class="card mb-3" style="max-width: 700px;">
    <div class="row g-0">
        <div class="col-md-4">
            {% if post.ticket.image.url != null %}
                <img src="{{ post.ticket.image.url }}" class="img-fluid rounded-start" alt="Couverture livre">
            {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            {% if post.ticket.user == user_logged_in %}
                <p>Vous avez demandé une critique</p>
            {% else %}
                <p>{{ post.ticket.user }} a demandé une critique</p>
            {% endif %}
              <p class="card-text">
                  <small class="text-muted">{{ post.ticket.time_created }}</small>
              </p>
              <h6 class="card-title">{{ post.ticket.title }}</h6>
              <p class="card-text">{{ post.ticket.description }}</p>
          </div>
            {% if 'flux' in request.path %}
                {% if post.has_review == False %}
                    <div class="d-flex justify-content-center mb-4">
                        <a href="{% url 'create_review' post.ticket.id %}" class="btn btn-outline-dark">Créer une critique</a>
                    </div>
                {% endif %}
            {% elif 'posts' in request.path %}
                <div class="d-flex justify-content-center mb-4 gap-2">
                    <a href="{% url 'edit_ticket' post.ticket.id %}" class="btn btn-outline-dark">Modifier</a>
                    <a href="{% url 'delete_ticket' post.ticket.id %}" class="btn btn-outline-dark">Supprimer</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>