{% extends 'base.html' %}

{% block content %}

    <div class="row justify-content-center my-5">
        <div class="col-6 text-center">
            <h5>Se désabonner</h5>
            <form method="post">
                {% csrf_token %}
                <p>Êtes-vous sûr de vouloir vous désabonner de <strong>{{ username_of_user_to_unfollow }}</strong> ?</p>
                <button type="button" class="btn btn-light g-col-3">
                    <a href="{% url 'subscriptions' %}">Retour</a>
                </button>
                <button type="submit" class="btn btn-danger">Se désabonner</button>
            </form>
        </div>
    </div>

{% endblock %}