{% load static %}
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <style>
            #signup-form ul, .helptext, #signup-form label {
                display: none;
            }
            #signup-form input::placeholder {
                text-align: center;
            }
            #signup-form input {
                width: 83%;
           }
           #login p {
                display: flex;
                flex-direction: column;
           }
           #create-ticket input, #create-ticket textarea {
                width: 100%;
           }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand bg-light navbar-light">
            <div class="container-fluid">
                <h1 class="navbar-brand">LITReview</h1>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'flux' %}">Flux</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'posts' %}">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'subscriptions' %}">Abonnements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>


        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>