{% extends 'base.html' %}

{% block content %}

        <div class="row justify-content-between my-5">
            <div class="text-center col-6">
                <h2>Inscrivez-vous</h2>
                <div class="my-4">
                    <a class="btn btn-outline-dark" href="{% url 'signup' %}">S'inscrire</a>
                </div>
            </div>
            <div class="text-center col-6">
                <h2 class="text-center">Connectez-vous</h2>
                <div class="my-4">
                    <form method="post" class="text-left" id="login">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary col-12 my-2">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>

{% endblock content %}