{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="text-center col-8">
                <h2>Inscrivez-vous</h2>
                <div id="signup-form" class="my-4">
                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary col-10 my-2">S'inscrire</button>
                    </form>
                    <a class="btn btn-light col-10" href="{% url 'login' %}">Retourner</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}